__pycache__/
controllers/__pycache__/
models/__pycache__/

__pycache__\
controllers\__pycache__\
models\__pycache__\

services/__pycache__/
services\__pycache__\

network/log.txt/
network\log.txt\

backup/log.txt/
backup\log.txt\

settings.txt/
settings.txt\

visuals/__pycache__/
visuals\__pycache__\

styles/__pycache__/
styles\__pycache__\
